<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<system.webServer>
		<handlers>
			<add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" requireAccess="Script" />
		</handlers>
		<httpPlatform processPath="C:\python\python.exe"

					  arguments="C:\Octopus\Applications\#{Octopus.Environment.Name}\Aurora.AI.API\#{Octopus.Release.Number}\api_service.py --port %HTTP_PLATFORM_PORT%"
					  stdoutLogEnabled="true"
					  stdoutLogFile="C:\Octopus\Applications\#{Octopus.Environment.Name}\Aurora.AI.API\#{Octopus.Release.Number}\logs\python.log"

					  startupTimeLimit="600">
			<environmentVariables>
				<environmentVariable name="SERVER_PORT" value="%HTTP_PLATFORM_PORT%" />
			</environmentVariables>
		</httpPlatform>
	</system.webServer>
</configuration>